{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="fr">
<head>

{% set p = page.find("/home") %}

{% block head %}
    <meta charset="utf-8">
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta property="og:image" content="{{ url('theme://images/favicon.ico') }}">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.ico') }}">
    <link rel="canonical" href="{{ page.url(true, true) }}">

    {% block stylesheets %}
        {% do assets.addCss('theme://css/custom.css?q=110', 98) %}
        {% do assets.addCss('theme://css/jdllonline.css?q=108', 97) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('theme://js/anime.min.js') %}
        {% do assets.addJs('theme://js/jdll_functions_vanilla.js?q=108', {group: 'bottom'}) %}
        {% do assets.addJs('theme://js/hl.js') %}
    {% endblock %}
    {{ assets.js() }}

    {% if ( page.slug == "programme" and p.header.custom.publishprogram[0]==1) %}
    <link rel="stylesheet" type="text/css" href="https://pretalx.com/{{p.header.custom.pretalxevent}}/schedule/widget/v1.css">
    <script type="text/javascript" src="https://pretalx.jdll.org/{{p.header.custom.pretalxevent}}/schedule/widget/v2.en.js"></script>
    {% endif %}
{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{# {% include 'partials/popup.html.twig' %} #}

<div class="bck" style="background: linear-gradient(44deg, {{p.header.custom.color1}},{{p.header.custom.color2}});"></div>

{% block header %}
<div class="header">
    <div class="top-wrap">
        {% block info %}
        {% endblock info %}
        {% block header_navigation %}
        {% endblock %}
    </div>
    <nav class="main-nav wrapper_mini">
        {% include 'partials/navigation.html.twig' with {'p': p} %}
        <div class="logo ">
          <a href="{{ base_url == '' ? '/' : base_url }}">
{% if p.header.custom.logo%}
            <img class="logojdll" src="user/pages/04.presse-et-media/media-interne/{{ p.header.custom.logo }}" alt="Le logo des JdLL">
{% else %}
            <div class="logojdlltypo">{{ config.site.title }}</div>
{% endif %}
          </a>
          <div class="phone-nav-button">
            <div id="bar1"></div>
            <div id="bar2"></div>
            <div id="bar3"></div>
          </div>
        </div>
    </nav>
    <div class="phone-nav" style="background: linear-gradient(44deg, {{p.header.custom.color1}},{{p.header.custom.color2}});">
      <div class="navbar">
        <ul>
          {% include 'partials/menu.html.twig' with {'menu': 'menu1', 'p': p} %}
          {% include 'partials/menu.html.twig' with {'menu': 'menu2', 'p': p} %}
          {% include 'partials/sponso_reseaux.html.twig' with {'p': p}%}
        </ul>
      </div>
    </div>
</div>
{% endblock %}

{% block body %}
  {% if ( page.slug == "home" ) %}
    {% set foo = "home_content"%}
    {% set wrap_type = "wrapper home_w"%}
    {% set hide = ""%}
  {% else %}
    {% set foo = "content"%}
    {% set wrap_type = "wrapper"%}
    {% set hide = "hide"%}
  {% endif %}

  <div id="c" class="{{wrap_type}}">
    <div class="{{ foo }}">
      {% block content %}{% endblock %}
    </div>
  </div>
  {% include 'partials/sidebar.html.twig' with {'p': p}%}
{% endblock %}

{% block footer %}
<footer>
    <a href="/mentions-legales">mentions légales</a>
</footer>
{% endblock %}

{% block bottom %}
  {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
