{% if p.header.custom.helloasso != "" or p.header.custom.helloasso != null %}
<li>
  <a href="{{p.header.custom.helloasso}}">
    <span class="haAnim">Faire un don</span>
  </a>
</li>
{% endif %}

<li class="reseaux">
{% for rezo in page.header.custom.resosociaux %}
  <a href="{{ url(rezo.url) }}" target="_blank" rel="noopener noreferrer">
    {% set url = page.route ~ "/" ~ rezo.logo %}
    <img src="user/pages/04.presse-et-media/media-interne/{{ rezo.logo }}" alt="Logo de {{rezo.name}}">
  </a>
{% endfor %}
</li>
