{% extends 'partials/base.html.twig' %}

{%block info%}

<div id="introduction">
{{ page.header.custom.info }}
</div>
{% endblock info %}

{% block content %}
  {% if (p.header.custom.theme != "" or p.header.custom.theme != null) or (p.header.custom.sub != "" or p.header.custom.sub != null) %}
    <div class="theme">
      <div class="theme_header">
      {% if p.header.custom.sub != "" or p.header.custom.sub != null %}
        <p>{{ page.header.custom.sub }}</p>
      {% endif %}
      {% if (p.header.custom.theme != "" or p.header.custom.theme != null) and (p.header.custom.sub != "" or p.header.custom.sub != null) %}
        <p class="box">Thème {{page.header.custom.begin_date|date('Y')}}</p>
      {% endif %}
      </div>
    {% if p.header.custom.theme != "" or p.header.custom.theme != null %}
      <h2 class="theme_title">{{ page.header.custom.theme }}</h2>
    {% endif %}
    </div>
  {% endif %}
    <div class="header_info {{hide}}">
        {%    set begin = page.header.custom.begin_date|split('-') %}
        {%    set end = page.header.custom.end_date|split('-') %}
        {%    set month_array = {
            '01' : 'janvier',
            '02' : 'fevrier',
            '03' : 'mars',
            '04' : 'avril',
            '05' : 'mai',
            '06' : 'juin',
            '07' : 'juillet',
            '08' : 'aout',
            '09' : 'septembre',
            '10' : 'octobre',
            '11' : 'novembre',
            '12' : 'décembre' }

        %}
      <p>
          <b>{{begin[2]}}&nbsp;et&nbsp;{{end[2]}} {{ month_array[begin[1]]}}</b> <span class="white">de</span> {{ page.header.custom.begin_hour }} à {{ page.header.custom.end_hour }}&nbsp;&nbsp;<span class="white"> -> </span>&nbsp;&nbsp;<i>Entrée libre et gratuite</i></p>
      <p class="lieu"><span class="box">Lieu</span> {{ page.header.custom.lieu }}&nbsp;&nbsp;<span class="white"> -> </span>&nbsp;&nbsp;{{ page.header.custom.adresse }}</p>

      <p><span class="box">Accès</span> {{ page.header.custom.transport.lignes }} <span class="white">arrêt</span> {{ page.header.custom.transport.arret }}</p>

    </div>
    <h2 class="inter_title">
         	Actualités
    </h2>
    <div class="annonce">
        {% for elem in page.header.custom.annonce %}

        <div class="ann_item">
            <div class="ann_title">
                <h3 class="small_title">{{ elem.title }}</h3>
            </div>
            <div class="ann_content">
                {{ elem.content }}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
