{% extends 'partials/base.html.twig' %}

{% block content %}
<h1> {{page.title}} </h1>

  <div class="page-content">
    {{ page.content }}
  </div>

  <div class="grid-media">
  {% for item in page.header.custom.mediaList %}
    {% for info in item.media %}
      {% set url = page.route ~ "/" ~ info.path|url_encode %}
    <div class="item-description">
      <a href="{{ url }}" download>{{ item.title }}</a>
    </div>
    <div class="item-type">
        <a href="{{ url }}" download><img src="{{ url }}" alt="{{ item.title }}"></a>
    </div>
    {% endfor %}
  {% endfor %}
  </div>

{% endblock %}
