{% extends 'partials/base.html.twig' %}

{% block content %}
<h1> {{page.title}} </h1>
  {% if page.slug == "presse" %}
    {% set class = "pr" %}
  {% endif %}
  <div class="{{ class }}">
      {{ page.content }}
  </div>
  {% include 'partials/gallery.html.twig' %}
{% endblock %}
