{% extends 'partials/base.html.twig' %}

{% block content %}
  <h1> {{page.title}} </h1>
  <div id="programme">
  {{ page.content }}
  {% set p = page.find("/home") %}

  {# <script>console.log("programme", {{p|json_encode|raw}})</script>#}

  {% if ( p.header.custom.publishprogram[0]==1 ) %}
  <div class="pretalx-container">
  <pretalx-schedule event-url="https://pretalx.jdll.org/{{p.header.custom.pretalxevent}}/" locale="fr" format="grid" style="--pretalx-clr-primary: #3aa57c"></pretalx-schedule>
  <noscript>
    <div class="pretalx-widget">
      <div class="pretalx-widget-info-message">
          JavaScript is disabled in your browser. To access our schedule without JavaScript,
          please <a target="_blank" href="https://pretalx.jdll.org/{{p.header.custom.pretalxevent}}/schedule/">click here</a>.
      </div>
    </div>
  </div>
  </noscript>
  </div>
  {% endif %}
  </div>
{% endblock %}
