{% extends 'partials/base.html.twig' %}

{% set organisateurs = page.header.custom.orga %}
{% set partenaires = page.header.custom.part %}
{% set sponsors = page.header.custom.sponsor %}

{% block content %}

<h1> {{page.title}} </h1>
<div class="inter_title">
      Les formules de sponsoring
</div>
  {{ page.content }}

      <div class="tableau wrapper">
          <div class="cell st_inf">
              <h2> Soutien 100 € - 499 €</h2>
          </div>
          <div class="cell st_inf">
              <h2> Soutien 500 € - 999 €</h2>
          </div>
          <div class="cell st_inf">
              <h2> Soutien 1000 € et plus</h2>
          </div>
          <div class="cell">
              <h2 class="annex"> Soutien 100 € - 499 €</h2>
              {% for reward in page.header.custom.rec_min %}
                <h3>{{ reward.rec }}</h3>
                <p>{{ reward.info }}</p>
              {% endfor %}
              {% for reward in page.header.custom.rec_med %}
                <h3 class="grey">{{ reward.rec }}</h3>
                <p class="grey">{{ reward.info }}</p>
              {% endfor %}
              {% for reward in page.header.custom.rec_max %}
                <h3 class="grey">{{ reward.rec }}</h3>
                <p class="grey">{{ reward.info }}</p>
              {% endfor %}
          </div>
          <div class="cell">
              <h2 class="annex"> Soutien 500 € - 999 €</h2>
              {% for reward in page.header.custom.rec_min %}
                <h3>{{ reward.rec }}</h3>
                <p>{{ reward.info }}</p>
              {% endfor %}
              {% for reward in page.header.custom.rec_med %}
                <h3>{{ reward.rec }}</h3>
                <p>{{ reward.info }}</p>
              {% endfor %}
              {% for reward in page.header.custom.rec_max %}
                <h3 class="grey">{{ reward.rec }}</h3>
                <p class="grey">{{ reward.info }}</p>
              {% endfor %}

          </div>
          <div class="cell">
              <h2 class="annex"> Soutien 1000 € et plus</h2>
              {% for reward in page.header.custom.rec_min %}
                <h3>{{ reward.rec }}</h3>
                <p>{{ reward.info }}</p>
              {% endfor %}
              {% for reward in page.header.custom.rec_med %}
                <h3>{{ reward.rec }}</h3>
                <p>{{ reward.info }}</p>
              {% endfor %}
              {% for reward in page.header.custom.rec_max %}
                <h3>{{ reward.rec }}</h3>
                <p>{{ reward.info }}</p>
              {% endfor %}
          </div>

      </div>

    <div class="sponsor">

{% if organisateurs %}
    <div class="sp_logos">
        <div class="inter_title">
            L'organisation
        </div>

      {% set path = page.find("\/soutenir/organisateurs").url %}
      {% for child in organisateurs %}
        <a href="{{child.url|url_encode}}" target="_blank" class="sp_logo wrapper">
          <img src="{{path}}/{{child.logo|url_encode}}" alt="Logo de l'organisateur·ice {{child.nom}}">
        </a>
      {% endfor %}
    </div>
{% endif %}

{% if partenaires2025 %}
    <div class="sp_logos">
        <div class="inter_title">
            Nos partenaires 2025
        </div>

      {% set path = page.find("\/soutenir/partenaires2025").url %}
      {% for child in partenaires2025 %}
        <a href="{{child.url}}" target="_blank" class="sp_logo wrapper">
          <img src="{{path}}/{{child.logo|url_encode}}" alt="Logo de notre partenaire {{child.nom}}">
        </a>
      {% endfor %}
    </div>
{% endif %}

{% if sponsors2025 %}
    <div class="sp_logos">
        <div class="inter_title">
            Nos sponsors 2025
        </div>

      {% set path = page.find("\/soutenir/sponsors2025").url %}
      {% for child in sponsors2025 %}
        <a href="{{child.url}}" target="_blank" class="sp_logo wrapper">
          <img src="{{path}}/{{child.logo|url_encode}}" alt="Logo de notre sponsor {{child.nom}}">
        </a>
      {% endfor %}
    </div>
{% endif %}

{% if partenaires %}
    <div class="sp_logos">
        <div class="inter_title">
            Nos partenaires 2024
        </div>

      {% set path = page.find("\/soutenir/partenaires").url %}
      {% for child in partenaires %}
        <a href="{{child.url}}" target="_blank" class="sp_logo wrapper">
          <img src="{{path}}/{{child.logo|url_encode}}" alt="Logo de notre partenaire {{child.nom}}">
        </a>
      {% endfor %}
    </div>
{% endif %}

{% if sponsors %}
    <div class="sp_logos">
        <div class="inter_title">
            Nos sponsors 2024
        </div>

      {% set path = page.find("\/soutenir/sponsors").url %}
      {% for child in sponsors %}
        <a href="{{child.url}}" target="_blank" class="sp_logo wrapper">
          <img src="{{path}}/{{child.logo|url_encode}}" alt="Logo de notre sponsor {{child.nom}}">
        </a>
      {% endfor %}
    </div>
{% endif %}

    <div class="sp_logos">
        <div class="inter_title">
            Ils ont soutenu l'édition précédente
        </div>
        <ul>
        {% for old in page.header.custom.old %}
            <li>
              <a href="{{ old.url }}">{{ old.nom }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}
